*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    background: url(beachWallpaper.jpg)    no-repeat   center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.36);
    align-items: center;
    gap: 100px;
}

#btn, #jokebtn{
    margin-top: 50px;
    height: 40px;
    width: 70px;
    background-color: aliceblue;
    border-radius: 10px;
    transition: all 0.2s ease;
}
#btn:hover, #jokebtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#btn:active, #jokebtn:active{
    transform: scale(0.95);
}
#btn:focus,
#btn:focus-visible, #jokebtn:focus, #jokebtn:focus-visible{
    outline: none;
    box-shadow: none;
    user-select: none;
   
}
#btn:disabled, #jokebtn:disabled{
    background-color: rgb(40, 39, 39);
    color: rgb(250, 250, 250);
}
h1, h2{
    max-width: 700px;
    user-select: none;
    pointer-events: none;
    font-family: sans-serif;
    animation: fadeIn 0.4s ease;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}